/* _content/AspDotNetRazorFirst/Pages/Display.cshtml.rz.scp.css */
.display-title[b-h4tsqdqmjj] {
    background-color: #0dcaf0;
}

.overall-container[b-h4tsqdqmjj] {
    height: auto;
}

.main-container[b-h4tsqdqmjj] {
    height: auto;
}

.movies-container[b-h4tsqdqmjj] {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: row dense;
    grid-gap: 3vw;
    padding: 3vh;
    
    margin: 2vh;
    height: 90%;

    
}

.movie-div[b-h4tsqdqmjj] {
    width: 95%;
    height: 70vh;
    background: linear-gradient(0deg, #1c1f23 88%, #0030ff 100%);
    padding: 50px;
    justify-self: center;
    
    border-radius: 15px;
    border: 3px solid darkgrey;
}

.movie-name[b-h4tsqdqmjj] {
    color: #1c1f23;
    font-size: x-large;
    text-align: center;
    width: 100%;
    
    background-color: lightgrey;

    border-radius: 12px;
    border: 2px solid lightslategray;
    padding: 3px;
}
/* _content/AspDotNetRazorFirst/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-4001wjy05c] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-4001wjy05c] {
  color: #0077cc;
}

.btn-primary[b-4001wjy05c] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-4001wjy05c], .nav-pills .show > .nav-link[b-4001wjy05c] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-4001wjy05c] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-4001wjy05c] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-4001wjy05c] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-4001wjy05c] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-4001wjy05c] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
