body {
    color: ghostwhite;
}

form {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.create-overall-container {
    margin: 5vh 7vw 4vh 7vw;
}

.create-main-container {
    margin-top: 17vh;
    margin-bottom: 22vh;
}

.description {
    text-align: justify !important;
}