.new-movies-general-container {
    height: 60vh;
    overflow-y: scroll;
    
    width: 67vw;
}

.new-movie-container {
    width: 65vw;
    height: 29vh;

    border-radius: 15px;
    border: 3px solid darkgrey;
    
    display: flex;
    flex-direction: row;
}

.new-movie-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.new-movie-image {
    margin-top: 10px;
    width: 80%;
    height: 90%;
    object-fit: cover;

    border-radius: 9px;
    border: 2px solid lightslategray;
    align-self: center;
}


.new-movie-information-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
}


.new-movie-confirm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-movie-confirm {
    width: 3vw;
    height: 24px;
    justify-self: center;

    appearance: menulist-button;
    border: 4px solid  #1e2125 ;
    
    cursor: pointer;
}


.new-movie-name {
    flex: 1;
}

.new-movie-description {
    flex: 2
}