.display-title {
    background-color: #0dcaf0;
}

.overall-container {
    height: auto;
}

.main-container {
    height: auto;
}

#button-container {
    width: 100%;
    align-items: start;
    padding-left: 5vw;

    background-color: transparent;
}


.movies-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: row dense;
    grid-gap: 3vw;
    padding: 3vh;
    
    margin: 2vh;
    height: 90%;

    
}

.movie-div {
    width: 98%;
    height: 90vh;
    background: linear-gradient(0deg, #1c1f23 88%, #0030ff 100%);
    padding: 50px 50px 10px 50px;
    justify-self: center;
    
    border-radius: 15px;
    border: 3px solid darkgrey;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-name {
    color: #1c1f23;
    font-size: x-large;
    text-align: center;
    width: 100%;
    
    background-color: lightgrey;

    border-radius: 12px;
    border: 2px solid lightslategray;
    padding: 3px;
}

.movie-image {
    margin-top: 10px;
    width: 100%;
    height: 70%;
    object-fit: cover;

    border-radius: 9px;
    border: 2px solid lightslategray;
}

.movie-buttons-container {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    
    padding-bottom: 2vh;
}


.movie-div button {
    font-size: 25px;
    width: auto;
}
a {
    color: ghostwhite;
    text-decoration: none;
}

#movie-information-button {
    margin-bottom: 1vh;
    align-self: center;
}

#movie-delete-button {
    align-self: center;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
}