@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section css {
    <link href="@Url.Content("~/css/Index.css")" rel="stylesheet" asp-append-version="true"/>
}

<section class="container-fluid overall-container">
    <section class="container-fluid description-container text-center">
        <h1 class="display-4 text-light"><span class="text-gradient">GESTIONNAIRE DE FILMS</span></h1>
        <p class="description text-light">Ce site vous donne la possibilité de sauvegarder des films (et des séries) qui pourrait vous plaire en les stockant dans une base de données, vous pouvez ajouter des films: indiquez son nom et, le site génèrera automatiquement sa date de sortie, son synopsis et son image pour ensuite les stocker dans une base de données locale. Vous aurez accès à l'aperçu de tous vous films et séries et vous pouvez en supprimer à tout moment. D'autres fonctionnalités sont en cours de développement  </p>
    </section>
    
    <section class="container-fluid links-container py-4">
        <a class="link-a" asp-page="/Display">
            <div class="link-div">
                <div class="link-name">Affichage</div>
                <div class="link-description">Voir la liste de tous les films et leurs attributs stockés et pouvoir les supprimer et en rajouter</div>
            </div>
        </a>
        
        <a class="link-a" asp-page="/Create">
            <div class="link-div">
                <div class="link-name">Ajout d'un Film</div>
                <div class="link-description">Pouvoir ajouter en film en indiquant son nom et ensuite être redirigé sur la page d'affichage</div>
            </div>
        </a>
    </section>
</section>