@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="container-fluid" id="overall-container">
    <section class="container-fluid description-container text-center">
        <h1 class="display-4 text-light">Vous avez actuellement sauvegardé @Model.NbFilms films</h1>
        <p class="text-light">Voir la section du bas pour en rajouter</p>
    </section>
    
    <section class="container-fluid main-container">
        <div class="text-light">Test 1</div>
    </section>
</section>